body {
    background-color: #422979;
}

header {
    background-color: #2D192B;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

header a{
    margin-top:60px;
    margin-right:15px;
    text-decoration: none;
    color:white;
}
header a:hover{
    text-decoration: underline;
}

.logo_taos{
    display: flex; 

}

.right{
    display: flex;
    font-size: large;
    font-weight: bold;
}

.logo{
text-align: left;
}

.title-main {
    margin-top:60px;
    margin-left:15px;
    font-family: "Irish Grover";
    text-align: left;
    margin-right: 50px;
}

.search{
    text-align: right;
}


main {
    text-align: center;
}

main img{
    width: 400px;
    height: 400px;
}

#kontakt{ 
    text-align: center;
    margin-top: auto;
}

#onas{
    text-align: center;
    margin-top: auto;
}

footer {
    height:60px;
    text-align: center;
    background-color: #2D192B;
    color:white; 
}

img {
    width: 162px;
    height: 162px;
    left: 18px;
    top: 3px;
    background: url(image.png);
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Irish Grover";
    text-align: center;
}

p {
    font-family: "Irish Grover";
}

.title-main {
    font-family: "Irish Grover";
    display: flex;
}

h3 {
    font-family: "Irish Grover";
    display: block;
    text-align: center;
}

h5 {
    font-family: "Irish Grover";
    display: block;
    text-align: center;
}

.btn_anim {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn_anim:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn_anim:before,
  .btn_anim:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height: 2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn_anim:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn_anim:hover:before,
  .btn_anim:hover:after{
    width:100%;
    transition:800ms ease all;
  }