body {
    
}

header {
    
}

main {

}

footer {

}

img{

    position: absolute;
    width: 162px;
    height: 162px;
    left: 18px;
    top: 3px;
    
    background: url(image.png);
}
h1{font-family:"Irish Grover";
    dispay: flex
}
p{
    
}