body {
    background-color:#422979
}

header {
    background-color:#2D192B
}

main {

}

footer {

}

img{
 
    width: 162px;
    height: 162px;
    left: 18px;
    top: 3px;
    
    background: url(image.png);
}
h1{font-family:"Irish Grover";
    display: flex
}
p{font-family:"Irish Grover";
    display: flex
    
}
title-main{font-family:"Irish Grover";
    display: flex  
}

h3{font-family:"Irish Grover";
    display: flex

}
h5{font-family:"Irish Grover";
    display: flex
}

