body {
    background-color: "#422979"
}

header {
    background-color:"#1D192B"
}

main {

}

footer {

}

img{

    position: absolute;
    width: 162px;
    height: 162px;
    left: 18px;
    top: 3px;
    
    background: url(image.png);
}
h1{font-family:"Irish Grover";
    display: flex
}
p{
    
}
title-main{font-family:"Irish Grover";
    display: flex
}
    
